

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html body {
    padding-top: 10px;
}

.row-nextVideo {
    padding-top: 20px;
}

#btnNextVideo {
    float: right;
}

.outerContainer {
    display: none;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right; -4px;
}

.row-bottom-pad {
    margin-bottom: 4em;
}

.row-bottom-lightpad {
    margin-bottom: 1em;
}

.blog-content {
    padding: 5px;
}

.post-link {
    font-weight: bold;
    color: #cdcdcd;
    font-size: large;
}

.post-meta {
    padding-left: 1em;
}

.shadow {
    text-shadow: 1px 1px #ababab;";
}
