

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html body {
    padding-top: 10px;
}

.row-nextVideo {
    padding-top: 20px;
}

#btnNextVideo {
    float: right;
}

.outerContainer {
    display: none;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right; -4px;
}

















