---
layout: default
---
<div class="container">
    <div class="row row-centered">
        <div class="col col-centered">
            <img class="img-responsive" src="/img/logo.png" />
        </div>
    </div>
    <div class="row row-centered row-bottom-pad">
        <div class="col col-centered">
            <img class="img-responsive" src="//i.imgur.com/Y3FGIok.png" width="500" height="350" alt="Trump Speech" />
        </div>
    </div>
    <div class="row row-centered row-bottom-pad">
        <h4 class="text-muted"><strong>MAKE TEST GREAT AGAIN.</strong></h4>
        <p>We're gonna build a wall. We're gonna build a wall and we're gonna make SUAD pay for it.</p>
    </div>
    <div class="row row-centered row-bottom-pad">
        <p style="display: inline;"><a class="btn btn-primary btn-lg" href="https://wiki.pleaseignore.com/corps:dreddit:joining" role="button">Join us! &raquo;</a></p>
        <p style="display: inline;"><a class="btn btn-info btn-lg" href="/posts.html" role="button">Receive Truth &raquo;</a></p>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Our Culture
                <div class="btnVideos">
                  <button class="btn btn-primary btn-xs btnVideo" id="btnPrevVideo"><span class="glyphicon glyphicon-chevron-left"></span> Previous video</button>
                  <button class="btn btn-success btn-xs btnVideo" id="btnNextVideo">Next video <span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="embed-responsive embed-responsive-16by9 youtubeContainer">
                    <iframe class="embed-responsive-item" id="videoFrame" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% include landing-scriptRef.html %}
